export(ApplyPAM)
export(CalcAndWriteDissimilarityMatrix)
export(CalculateSilhouette)
export(ClassifAsDataFrame)
export(FilterBySilhouetteQuantile)
export(FilterBySilhouetteThreshold)
export(GetJCol)
export(GetJColByName)
export(GetJColNames)
export(GetJManyCols)
export(GetJManyColsByNames)
export(GetJManyRows)
export(GetJManyRowsByNames)
export(GetJNames)
export(GetJRow)
export(GetJRowByName)
export(GetJRowNames)
export(GetSubdiag)
export(GetTD)
export(JMatInfo)
export(JWriteBin)
export(NumSilToClusterSil)
export(ParallelpamSetDebug)
export(CsvToJMat)
export(JMatToCsv)
export(FilterJMatByName)
importFrom(memuse,Sys.meminfo)
importFrom(memuse,Sys.swapinfo)
useDynLib(parallelpam, .registration=TRUE)
importFrom(Rcpp, evalCpp)
